* {
    margin: 0;
    padding: 0;
}

body{
    background: #EDEDED;
}

.logo{
    padding: 2.25rem;
    position: absolute;
    top: .625rem;
    left: 50%;
    transform: translate(-50%);
}

.logo-voltar{
    margin-top: 5rem;

}

.mensagem-de-erro-senha{
    display:none;
    color: #FF0000;
    font-family: 'Poppins', sans-serif;;
    font-size: .875rem;
    font-weight: 400;
    margin-top: -1.5625rem;
    margin-bottom: .625rem;
}

main > section{
    background-color: #FFFFFF ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26.875rem;
    height: 31.5625rem;
    padding: 1.625rem 2.25rem;
    border-radius: .625rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5625rem;
}

form label{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

form input{
    padding: .9375rem;
    border-radius: .625rem;
    border: .125rem solid #B3B3B3;
    margin-bottom: 1.25rem;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

form button{
    padding: .9375rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #e6aa06;
    border: .125rem solid #FFBB00 ;
    border-radius: .625rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: .3125rem;
}

form button:hover{
    background-color: #FFBB00;
}


/*MODAL*/
.modal-container.mostrar{
    display: flex;
  }
  
  .modal-container{
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
    justify-content: center;
    align-items: center;
  }
  
  .modal{
    background: #FFFFFF;
    border-radius: 8px;
    min-width: 450px;
    padding-bottom: 8px;
  }
  
  .modal-chamada{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 12px;
    justify-content: center;
  }
  
  .modal-chamada p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  
  .modal-chamada-info{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-fechar{
   display: flex;
   justify-content: center;
  }
  
  .btn-fechar a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    background: #FFBB00;
    border-radius: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
  }


